priority -30

snippet pr "" b
priority -30
endsnippet
snippet ex "" b
extends $0
endsnippet
snippet con "" b
context "math()"
snip
endsnippet
snippet snip "" b
snippet $1 "" ${2:b}
\$0${VISUAL}$0endsnippet
endsnippet
