priority 100

snippet f "myUltiSnips" b
function! `!v
expand('%') =~# 'autoload' ? substitute(matchstr(expand('%:p'), 'autoload/\zs.*\ze.vim'), '[/\\]', '#', 'g') . '#' : ''
`$1() abort
	$0
endfunction
endsnippet
snippet au "myUltiSnips" b
augroup $1
	autocmd!
	autocmd $0
augroup END
endsnippet
snippet warn
echohl WarningMsg
echomsg '$1'
echohl None
endsnippet
