# self
/*
!/.gitignore
!/LICENSE
!/README.md
!/pyproject.toml
!/.pre-commit-config.yaml
!/.gitlint

# dotfile
!/.xprofile
!/.bash_profile
!/.bashrc
!/.zprofile
!/.zshrc
!/.p10k.zsh
!/.Rprofile
!/.inputrc
!/.fbtermrc
!/.astylerc
!/.octaverc
!/.procmailrc
!/.clang-format
!/.ccls
!/.mailcap
!/.signature
!/.bastetrc
!/.npmrc
!/.spacemacs
!/.condarc
!/.screenrc
!/.lesskey
!/.lessfilter
!/.wgetrc
!/.curlrc
!/.nix-channels
!/.visidatarc
!/.vintrc.yaml
!/.chktexrc
!/.sqliterc
!/.pdbrc
!/.gtkrc-2.0
!/.xinitrc
!/.xsession

# dotfiles
!/.dosbox/
/.dosbox/*
!/.dosbox/dosbox-*.conf
!/.jupyter/
/.jupyter/*
!/.jupyter/jupyter_notebook_config.py
!/.jupyter/lab/
/.jupyter/lab/*
!/.jupyter/lab/user-settings/
!/.vim/
/.vim/*
!/.vim/vimrc
!/.w3m/
/.w3m/*
!/.w3m/keymap
!/.cabal/
/.cabal/*
!/.cabal/config
!/.ipython/
/.ipython/*
!/.ipython/profile_default/
/.ipython/profile_default/*
!/.ipython/profile_default/*.py
!/.ipython/profile_default/startup
/.ipython/profile_default/startup/*
!/.ipython/profile_default/startup/*.py
!/.julia/
/.julia/*
!/.julia/config/
/.julia/config/*
!/.julia/config/startup.jl
!/.gnupg/
/.gnupg/*
!/.gnupg/*.conf
!/.wgetpaste.d/
/.wgetpaste.d/*
!/.wgetpaste.d/*.conf
!/.vnc/
/.vnc/*
!/.vnc/xstartup
!/.cargo/
/.cargo/*
!/.cargo/config
!/.parallel/
/.parallel/*
!/.parallel/config
!/.cgdb/
/.cgdb/*
!/.cgdb/cgdbrc
!/.texlive/
/.texlive/*
!/.texlive/texmf-config/
!/.proxychains/
/.proxychains/*
!/.proxychains/proxychains.conf

# $XDG_CONFIG_HOME
!/.config/
/.config/*
!/.config/mimeapps.list
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
!/.config/electron-flags.conf
!/.config/black
!/.config/pylintrc
!/.config/zathura/zathura*
!/.config/neomutt/
/.config/neomutt/*
!/.config/neomutt/neomuttrc*
!/.config/mutt/
!/.config/git/
/.config/git/*
!/.config/git/config
!/.config/git/templates/
!/.config/aria2/
/.config/aria2/*
!/.config/aria2/aria2.conf
!/.config/ppsspp/
/.config/ppsspp/*
!/.config/ppsspp/PSP/
/.config/ppsspp/PSP/*
!/.config/ppsspp/PSP/SYSTEM/
/.config/ppsspp/PSP/SYSTEM/*
!/.config/ppsspp/PSP/SYSTEM/controls.ini
!/.config/newsboat/
/.config/newsboat/*
!/.config/newsboat/config
!/.config/cmus/
/.config/cmus/*
!/.config/cmus/rc
!/.config/khard/
/.config/khard/*
!/.config/khard/khard.conf
!/.config/khal/
/.config/khal/*
!/.config/khal/config
!/.config/latexmk/
/.config/latexmk/*
!/.config/latexmk/latexmkrc
!/.config/pip/
/.config/pip/*
!/.config/pip/pip.conf
!/.config/matplotlib/
/.config/matplotlib/*
!/.config/matplotlib/matplotlibrc
!/.config/translate-shell/
/.config/translate-shell/*
!/.config/translate-shell/init.trans
!/.config/mypy/
/.config/mypy/*
!/.config/mypy/config
!/.config/alacritty/
/.config/alacritty/*
!/.config/alacritty/alacritty.yml
!/.config/kitty/
/.config/kitty/*
!/.config/kitty/*.conf
!/.config/tmux/
/.config/tmux/*
!/.config/tmux/tmux.conf
!/.config/browsh/
/.config/browsh/*
!/.config/browsh/config.toml
!/.config/qterminal.org/
/.config/qterminal.org/*
!/.config/qterminal.org/qterminal.ini
!/.config/go/
/.config/go/*
!/.config/go/env
!/.config/neofetch/
/.config/neofetch/*
!/.config/neofetch/config.conf
!/.config/lftp/
/.config/lftp/*
!/.config/lftp/rc
!/.config/bat/
/.config/bat/*
!/.config/bat/config
!/.config/powerline/
!/.config/gh/
/.config/gh/*
!/.config/gh/config.yml
!/.config/nix/
/.config/nix/*
!/.config/nix/nix.conf
!/.config/ctags/
/.config/ctags/*
!/.config/ctags/*.ctags
!/.config/youtube-dl/
/.config/youtube-dl/*
!/.config/youtube-dl/config
!/.config/bpython/
/.config/bpython/*
!/.config/bpython/config
!/.config/ptpython/
/.config/ptpython/*
!/.config/ptpython/config.py
!/.config/pudb/
/.config/pudb/*
!/.config/pudb/pudb.cfg
!/.config/gdb/
/.config/gdb/*
!/.config/gdb/gdbinit
!/.config/gdb/gdbearlyinit
!/.config/lsd/
/.config/lsd/*
!/.config/lsd/config.yaml
!/.config/yamllint/
/.config/yamllint/*
!/.config/yamllint/config
!/.config/powershell/
/.config/powershell/*
!/.config/powershell/Microsoft.PowerShell_profile.ps1
!/.config/powershell/profile.ps1
!/.config/gem/
/.config/gem/*
!/.config/gem/gemrc
!/.config/pacman/
/.config/pacman/*
!/.config/pacman/makepkg.conf
!/.config/ripgreprc
!/.config/gtk-3.0/
/.config/gtk-3.0/*
!/.config/gtk-3.0/settings.ini
!/.config/fcitx/
/.config/fcitx/*
!/.config/fcitx/config
!/.config/fcitx5/
/.config/fcitx5/*
!/.config/fcitx5/config
!/.config/fcitx5/profile
!/.config/Code/
/.config/Code/*
!/.config/Code/User/
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/lxqt/
!/.config/openbox/
!/.config/wezterm/
!/.config/luarocks/
/.config/luarocks/*
!/.config/luarocks/config.lua

# $XDG_DATA_HOME
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/flatpak/
/.local/share/flatpak/*
!/.local/share/flatpak/repo/
/.local/share/flatpak/repo/*
!/.local/share/flatpak/repo/config
!/.local/share/icons/
/.local/share/icons/hicolor/
!/.local/share/themes/
/.local/share/themes/*
!/.local/share/themes/luZorin/
!/.local/share/themes/Emacs/
!/.local/share/pandoc/
!/.local/share/fcitx5/
/.local/share/fcitx5/*
!/.local/share/fcitx5/rime/
/.local/share/fcitx5/rime/*
!/.local/share/fcitx5/rime/default.custom.yaml

# Windows
!/.minttyrc
!/AppData/
/AppData/*
!/AppData/Roaming/
/AppData/Roaming/*/
!/AppData/Local/
/AppData/Local/*
!/AppData/Local/nvim
!/AppData/Local/Packages/
/AppData/Local/Packages/*
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/
/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/*
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/
/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/*
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json
!/Documents/
/Documents/*
!/Documents/WindowsPowerShell

# Android
!/.termuxrc
!/.termux/
/.termux/*
!/.termux/.profile
!/.termux/termux.properties
!/.termux/colors.properties
!/.termux/boot
!/.shortcuts/
!/bin/
