# self
/*
!/.gitignore
!/LICENSE
!/README.md
!/pyproject.toml
!/_config.yml
!/Gemfile
!/.pre-commit-config.yaml
!/.gitlint
!/.yamllint.yaml
!/.github/
!/.dockerignore
!/.deepsource.toml
!/script/
!/.devcontainer/
!/.mailmap

# dotfile
!/.xprofile
!/.bash_profile
!/.bashrc
!/.zprofile
!/.zshrc
!/.zlogin
!/.zlogout
!/.Rprofile
!/.inputrc
!/.fbtermrc
!/.astylerc
!/.procmailrc
!/.mailcap
!/.bastetrc
!/.spacemacs
!/.screenrc
!/.lesskey
!/.lessfilter
!/.wgetrc
!/.vintrc.yaml
!/.chktexrc
!/.sqliterc
!/.gtkrc-2.0
!/.xinitrc
!/.Xsession
!/.pypirc
!/.wakatime.cfg
!/.replyrc
!/.indentconfig.yaml
# https://bugs.chromium.org/p/gerrit/issues/detail?id=16717
!/.gitconfig
!/.tclshrc
!/.wishrc
!/.minirc.dfl
!/.manpath
!/.x11vncrc
# https://github.com/priv-kweihmann/oelint-adv/issues/527
!/.oelint.cfg

# dotfiles
!/.dosbox/
/.dosbox/*
!/.dosbox/dosbox-*.conf
!/.vim/
/.vim/*
!/.vim/vimrc
!/.w3m/
/.w3m/*
!/.w3m/keymap
!/.ipython/
/.ipython/*
!/.ipython/profile_default/
/.ipython/profile_default/*
!/.ipython/profile_default/ipython_config.py
!/.julia/
/.julia/*
!/.julia/config/
/.julia/config/*
!/.julia/config/startup.jl
!/.vnc/
/.vnc/*
!/.vnc/xstartup
!/.cargo/
/.cargo/*
!/.cargo/config
!/.parallel/
/.parallel/*
!/.parallel/config
!/.parallel/will-cite
!/.cgdb/
/.cgdb/*
!/.cgdb/cgdbrc
!/.texlive/
/.texlive/*
!/.texlive/texmf-config/
!/.proxychains/
!/.docker/
/.docker/*
!/.docker/config.json
!/.getmail/
!/.ssh/
/.ssh/*
!/.ssh/config
!/.password-store/
!/.gnupg/
# https://github.com/LnL7/nix-darwin/issues/573
!/.nixpkgs/
/.nixpkgs/*
!/.nixpkgs/darwin-configuration.nix
!/.bundle/
/.bundle/*
!/.bundle/config
!/.cpan/
/.cpan/*
!/.cpan/CPAN/
/.cpan/CPAN/*
!/.cpan/CPAN/MyConfig.pm
!/.vscode-remote/
/.vscode-remote/*
!/.vscode-remote/data/
/.vscode-remote/data/*
!/.vscode-remote/data/Machine/
/.vscode-remote/data/Machine/*
!/.vscode-remote/data/Machine/settings.json

# $XDG_CONFIG_HOME
!/.config/
/.config/*
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
!/.config/electron-flags.conf
!/.config/black
!/.config/pylintrc
!/.config/zathura/
/.config/zathura/*
!/.config/zathura/zathura*
!/.config/neomutt/
!/.config/mutt/
!/.config/git/
!/.config/aria2/
!/.config/ppsspp/
/.config/ppsspp/*
!/.config/ppsspp/PSP/
/.config/ppsspp/PSP/*
!/.config/ppsspp/PSP/SYSTEM/
/.config/ppsspp/PSP/SYSTEM/*
!/.config/ppsspp/PSP/SYSTEM/controls.ini
!/.config/newsboat/
/.config/newsboat/*
!/.config/newsboat/config
!/.config/cmus/
/.config/cmus/*
!/.config/cmus/rc
!/.config/khard/
/.config/khard/*
!/.config/khard/khard.conf
!/.config/khal/
/.config/khal/*
!/.config/khal/config
!/.config/latexmk/
/.config/latexmk/*
!/.config/latexmk/latexmkrc
!/.config/pip/
/.config/pip/*
!/.config/pip/pip.conf
!/.config/matplotlib/
/.config/matplotlib/*
!/.config/matplotlib/matplotlibrc
!/.config/translate-shell/
/.config/translate-shell/*.trans
!/.config/translate-shell/init.trans
!/.config/mypy/
/.config/mypy/*
!/.config/mypy/config
!/.config/alacritty/
!/.config/kitty/
/.config/kitty/*
!/.config/kitty/*.conf
!/.config/tmux/
/.config/tmux/*
!/.config/tmux/tmux.conf
!/.config/browsh/
/.config/browsh/*
!/.config/browsh/config.toml
!/.config/qterminal.org/
/.config/qterminal.org/*
!/.config/qterminal.org/qterminal.ini
!/.config/go/
/.config/go/*
!/.config/go/env
!/.config/neofetch/
/.config/neofetch/*
!/.config/neofetch/config.conf
!/.config/hyfetch.json
!/.config/lftp/
!/.config/bat/
/.config/bat/*
!/.config/bat/config
!/.config/powerline/
!/.config/gh/
/.config/gh/*
!/.config/gh/config.yml
!/.config/nix/
/.config/nix/*
!/.config/nix/nix.conf
!/.config/ctags/
/.config/ctags/*
!/.config/ctags/*.ctags
!/.config/youtube-dl/
/.config/youtube-dl/*
!/.config/youtube-dl/config
!/.config/bpython/
/.config/bpython/*
!/.config/bpython/config
!/.config/ptpython/
!/.config/pudb/
/.config/pudb/*
!/.config/pudb/pudb.cfg
!/.config/pudb/*.py
!/.config/gdb/
!/.config/gdb-dashboard/
!/.config/lsd/
/.config/lsd/*
!/.config/lsd/config.yaml
!/.config/yamllint/
/.config/yamllint/*
!/.config/yamllint/config
!/.config/powershell/
/.config/powershell/*
!/.config/powershell/Microsoft.PowerShell_profile.ps1
!/.config/powershell/profile.ps1
!/.config/gem/
/.config/gem/*
!/.config/gem/gemrc
!/.config/pacman/
/.config/pacman/*
!/.config/pacman/makepkg.conf
!/.config/ripgreprc
!/.config/gtk-3.0/
/.config/gtk-3.0/*
!/.config/gtk-3.0/settings.ini
!/.config/fcitx5/
/.config/fcitx5/*
!/.config/fcitx5/config
!/.config/fcitx5/profile
!/.config/fcitx5/conf/
/.config/fcitx5/conf/cached_layouts
/.config/fcitx5/conf/notifications.conf
!/.config/Code/
/.config/Code/*
!/.config/Code/User/
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/Code - OSS
!/.config/VSCodium
!/.config/lxqt/
/.config/lxqt/lxqt-config*.conf
/.config/lxqt/session.conf
# https://discourse.nixos.org/t/where-is-environment-xfce-excludepackages/28380
!/.config/openbox/
!/.config/wezterm/
!/.config/luarocks/
/.config/luarocks/upload_config.lua
!/.config/python_keyring/
!/.config/nvim/
/.config/nvim/doc/
!/.config/nvim/doc/*
# `:Rocks sync` will generate it
/.config/nvim/doc/tags
!/.config/python/
!/.config/autostart/
/.config/autostart/*
!/.config/autostart/lxqt-config-monitor-autostart.desktop
!/.config/autostart/picom.desktop
!/.config/picom/
!/.config/visidata/
!/.config/nixpkgs/
!/.config/luacheck/
!/.config/latexindent.yaml
!/.config/pry/
!/.config/clangd/
!/.config/cling/
!/.config/octave/
/.config/octave/*
!/.config/octave/octaverc
!/.config/fcitx/
/.config/fcitx/*
!/.config/fcitx/rime
!/.config/ibus/
/.config/ibus/*
!/.config/ibus/rime/
/.config/ibus/rime/*
!/.config/ibus/rime/*.custom.yaml
!/.config/ibus/rime/my/
# copied from handset.yaml or tablet.yaml
/.config/ibus/rime/my/chasis-type.yaml
!/.config/fontconfig/
/.config/fontconfig/*
!/.config/fontconfig/fonts.conf
!/.config/luaprc.lua
!/.config/p10k.zsh
!/.config/curlrc
!/.config/tree-sitter/
!/.config/asm-lsp/
!/.config/ruff/
!/.config/pypoetry/
!/.config/pdm/
!/.config/conda/
!/.config/nvimpager/
!/.config/paru/
!/.config/cabal/
/.config/cabal/*
!/.config/cabal/config

# $XDG_DATA_HOME
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/flatpak/
/.local/share/flatpak/*
!/.local/share/flatpak/repo/
/.local/share/flatpak/repo/*
!/.local/share/flatpak/repo/config
!/.local/share/pandoc/
!/.local/share/themes/
/.local/share/themes/*
!/.local/share/themes/Emacs/
!/.local/share/fcitx5/
/.local/share/fcitx5/*
!/.local/share/fcitx5/rime
!/.local/share/fzf/
!/.local/share/jupyter/
/.local/share/jupyter/*
!/.local/share/jupyter/jupyter_notebook_config.py
!/.local/share/jupyter/lab/
/.local/share/jupyter/lab/*
!/.local/share/jupyter/lab/user-settings/
!/.local/share/supertux2/
/.local/share/supertux2/addons/
!/.local/share/portage/
/.local/share/portage/*
!/.local/share/portage/config/
/.local/share/portage/config/*
!/.local/share/portage/config/make.conf
!/.local/share/portage/config/repos.conf
!/.local/share/portage/config/package.use/

# $XDG_STATE_HOME
!/.local/state/
/.local/state/*
!/.local/state/nix/
/.local/state/nix/*
!/.local/state/nix/channels

# bin
!/.local/bin/
/.local/bin/*
!/.local/bin/adb.py
!/.local/bin/telnet.py
!/.local/bin/neomutt

# Windows
!/.minttyrc
!/AppData/
/AppData/*
!/AppData/Roaming/
/AppData/Roaming/*/
!/AppData/Local/
/AppData/Local/*
!/AppData/Local/nvim
!/AppData/Local/Packages/
/AppData/Local/Packages/*
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/
/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/*
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/
/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/*
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json

# Android
!/.termux/
/.termux/*.ttf
# https://github.com/termux/termux-app/issues/2826
!/bin
!/.shortcuts
