# self
/*
!/.gitignore
!/LICENSE
!/README.md

# dotfile
!/.xprofile
!/.bashrc
!/.bash_profile
!/.zshrc
!/.zprofile
!/.p10k.zsh
!/.fbtermrc
!/.astylerc
!/.octaverc
!/.octave_packages
!/.procmailrc
!/.clang-format
!/.ccls
!/.mailcap
!/.signature
!/.tmux.conf
!/.bastetrc
!/.npmrc
!/.spacemacs

# dotfiles
!/.emacs.d
!/.pandoc/
!/.dosbox/
/.dosbox/*
!/.dosbox/dosbox-0.74-3.conf
!/.ctags.d/
/.ctags.d/*
!/.ctags.d/*.ctags
!/.jupyter/
/.jupyter/*
!/.jupyter/jupyter_notebook_config.py
!/.vim/
/.vim/*
!/.vim/vimrc
!/.vim/gvimrc
!/.w3m/
/.w3m/*
!/.w3m/keymap
!/.pip/
/.pip/*
!/.pip/pip3.conf
!/.cabal/
/.cabal/*
!/.cabal/config
!/.ipython/
/.ipython/*
!/.ipython/profile_default/
/.ipython/profile_default/*
!/.ipython/profile_default/startup
/.ipython/profile_default/startup/*
!/.ipython/profile_default/startup/*.py
!/.mutt/
/.mutt/*
!/.mutt/muttrc
!/.julia/
/.julia/*
!/.julia/config/
/.julia/config/*
!/.julia/config/startup.jl
!/.gnupg/
/.gnupg/*
!/.gnupg/*.conf
!/.wgetpaste.d/
/.wgetpaste.d/*
!/.wgetpaste.d/*.conf
!/.termux/
/.termux/*
!/.termux/boot/
!/.termux/termux.properties

# XDG
!/.config/
/.config/*
!/.config/mimeapps.list
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
!/.config/zathura/
!/.config/neomutt/
!/.config/git/
/.config/git/*
!/.config/git/config
!/.config/aria2/
/.config/aria2/*
!/.config/aria2/aria2.conf
!/.config/cmus/
/.config/cmus/*
!/.config/cmus/rc
!/.config/khard/
/.config/khard/*
!/.config/khard/khard.conf
!/.config/khal/
/.config/khal/*
!/.config/khal/config
!/.config/latexmk/
/.config/latexmk/*
!/.config/latexmk/latexmkrc
!/.config/procps/
/.config/procps/*
!/.config/procps/toprc
!/.config/coc/
/.config/coc/*
!/.config/coc/extensions/
/.config/coc/extensions/*
!/.config/coc/extensions/package.json
!/.config/bat/
/.config/bat/*
!/.config/bat/config
!/.config/PowerShell/
/.config/PowerShell/*
!/.config/PowerShell/Microsoft.PowerShell_profile.ps1

# submodules
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/icons/
/.local/share/icons/hicolor
!/.local/share/themes/

# Windows
!/.config/sharpkeys/
/.config/sharpkeys/*
!/.config/sharpkeys/My\ Keys.skl
