---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-symlinks
      - id: check-ast
      - id: requirements-txt-fixer
      - id: check-xml
      - id: check-yaml
      - id: check-toml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: remove-crlf
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
    hooks:
      - id: gitlint
        args: [--ignore=body-is-missing, --msg-filename]
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.4.0
    hooks:
      - id: editorconfig-checker
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: check-mailmap
      - id: shellcheck
        args: ["-eSC1008,SC1113", -x]
        exclude: ^\.z(profile|shrc)|^\.config/git|^.*\.zsh|^template/build.sh
      - id: shfmt
        args: [-i, "2"]
        exclude: ^\.z(profile|shrc)|^\.config/git|^.*\.zsh|^template/build.sh
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.14
    hooks:
      - id: mdformat
        args: [--number]
        additional_dependencies:
          - mdformat-gfm
          - mdformat-tables
          - mdformat-toc
          - mdformat-frontmatter
          - mdformat-deflist
          - mdformat-black
          - mdformat-shfmt
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.4.0
    hooks:
      - id: markdownlint-cli2
        additional_dependencies:
          - markdown-it-texmath@0.9.1
  - repo: https://github.com/PyCQA/doc8
    rev: 0.10.1
    hooks:
      - id: doc8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.1.2
          - "@prettier/plugin-xml@0.12.0"
  - repo: https://github.com/vimjas/vint
    rev: v0.4a3
    hooks:
      - id: vint
        args: [-e]
  - repo: https://github.com/kumaraditya303/mirrors-pyright
    rev: v1.1.217
    hooks:
      - id: pyright
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        args: [--add-ignore=D100]
  - repo: https://github.com/myint/eradicate
    rev: v2.0.0
    hooks:
      - id: eradicate
