# any X program like gvim will source this file.
# this file cannot include `if/then/fi`,
# because X don't support.
# posix
# the following line will be ineffective in tty
PATH="$HOME/.local/bin:$PATH"
export VISUAL=vi
export EDITOR=$VISUAL
# man
export MANOPT=-Lzh_CN.UTF-8
# neomutt
EMAIL="$(git config --global user.email)"
export EMAIL
# debmake
DEBFULLNAME="$(git config --global user.name)"
export DEBFULLNAME
DEBEMAIL="$EMAIL"
export DEBEMAIL
# rg
RIPGREP_CONFIG_PATH=$HOME/.config/ripgreprc
export RIPGREP_CONFIG_PATH
# kitty
# kitty cannot work in dde:
# Failed to enable transparency.
# This happens when your desktop environment does not support compositing.
export GLFW_IM_MODULE=ibus
# minicom
export MINICOM='-m -w -8 -c on -C /tmp/minicom.log'
# has
export HAS_ALLOW_UNSAFE=y
# ccache
export USE_CCACHE=1
# gks
export GKS_ENCODING=utf-8
# wine
export WINEDEBUG=-all
# python
export PYTHONSTARTUP=$HOME/.ipython/profile_default/startup/00-first.py
export PYTHONBREAKPOINT=pudb.set_trace
# fzf
export FZF_DEFAULT_COMMAND='rg --files'
export FZF_DEFAULT_OPTS="--history=${XDG_CACHE_HOME:-$HOME/.cache}/fzf.txt
"'-m
-d$"\0"
--preview="less {+1}"
--preview-window="+{2}"
--bind=tab:down
--bind=btab:up
--bind=ctrl-j:jump
--bind=ctrl-k:kill-line
--bind=ctrl-n:down
--bind=ctrl-p:up
--bind=alt-j:previous-history
--bind=alt-k:next-history
--bind=ctrl-q:clear-query
--bind=alt-a:first
--bind=alt-e:last
--bind=alt-N:toggle-in
--bind=alt-P:toggle-out
--bind=ctrl-space:toggle
--bind=ctrl-o:toggle-all
--bind=ctrl-g:deselect-all
--bind=alt-g:select-all
--bind=ctrl-s:toggle-search
--bind=ctrl-\\:toggle-sort
--bind=ctrl-^:toggle-preview-wrap
--bind=ctrl-x:toggle-preview
--bind=alt-p:preview-up
--bind=alt-n:preview-down
--bind=ctrl-v:preview-page-down
--bind=alt-v:preview-page-up
--bind=ctrl-r:preview-half-page-down
--bind=alt-r:preview-half-page-up
--bind=alt-\<:preview-top
--bind=alt-\>:preview-bottom'
export FZF_TMUX_HEIGHT=$((LINES/2))
# ex: filetype=sh
