# shellcheck shell=bash
# posix
PATH="$HOME/.local/bin${PATH+:}$PATH"
export VISUAL=vi
export EDITOR=$VISUAL
export BROWSER=firefox
# firefox
export MOZ_USE_XINPUT2=1
# man
MANOPT=-Lzh_CN:zh_CHS:zh
export MANOPT
# pkg-config
PKG_CONFIG_PATH="$HOME/.local/state/nix/profile/lib/pkgconfig:$HOME/.local/state/nix/profile/share/pkgconfig${PKG_CONFIG_PATH+:}$PKG_CONFIG_PATH"
export PKG_CONFIG_PATH
# cpanm
export PERL_CPANM_OPT
PERL_CPANM_OPT="-l $HOME/.local"
# rg
RIPGREP_CONFIG_PATH=$HOME/.config/ripgreprc
export RIPGREP_CONFIG_PATH
# kitty
# https://sw.kovidgoyal.net/kitty/glossary/#envvar-GLFW_IM_MODULE
export GLFW_IM_MODULE=ibus
# has
export HAS_ALLOW_UNSAFE=y
# ccache
export USE_CCACHE=1
# gks
export GKS_ENCODING=utf-8
# wine
export WINEDEBUG=-all
# python
export PYTHONSTARTUP=${XDG_CONFIG_HOME:-$HOME/.config}/python/python/__init__.py
export PYTHONBREAKPOINT=pudb.set_trace
# lesspipe
export LESSQUIET=1
# fzf
export FZF_DEFAULT_COMMAND='rg --files --color=always'
# mdcat
export MDCAT_PAGER='less --pattern=┄+'
# cmake
export CMAKE_GENERATOR=Ninja
export CMAKE_EXPORT_COMPILE_COMMANDS=1
# proxychains-ng
# https://github.com/rofl0r/proxychains-ng/issues/549
export PROXYCHAINS_QUIET_MODE=1
