priority 100

snippet if "myUltiSnips"
if $1 then $2 end
endsnippet
snippet ife "myUltiSnips"
if $1 then $2 else $3 end
endsnippet
snippet elif "myUltiSnips"
elif $1 then $2
endsnippet
snippet elife "myUltiSnips"
elif $1 then $2 else $3
endsnippet
snippet try "myUltiSnips"
try $1 catch $2
endsnippet
snippet red "myUltiSnips"
reduce $1 as ${2:item} ($3; $4)
endsnippet
snippet fore "myUltiSnips"
foreach $1 as ${2:item} ($3; $4; $5)
endsnippet
