priority 100
extends sql

snippet create "myUltiSnips" b
create table $1(
	$0
);
endsnippet
snippet load "myUltiSnips" b
load data infile '$1.csv'
into table student
fields terminated by ',' optionally enclosed by '"' escaped by '"'
lines terminated by '\n';
endsnippet
snippet select "myUltiSnips" b
select ${1:*}
into outfile '$2.tsv'
from $0
endsnippet
