Source: {{ expand('%:p:h:h:t') }}
Section: utils
Priority: optional
Maintainer: {{ g:snips_author }} <{{ g:snips_email }}>
Uploaders: {{ g:snips_author }} <{{ g:snips_email }}>
Build-Depends: debhelper-compat (= 9)
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: {{ g:snips_github }}/{{ expand('%:p:h:h:t') }}
Vcs-Git: {{ g:snips_github }}/{{ expand('%:p:h:h:t') }}
Vcs-Browser: {{ g:snips_github }}/{{ expand('%:p:h:h:t') }}

Package: {{ expand('%:p:h:h:t') }}
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: {% here %}
